<?xml version="1.0" ?>
<model> 
  <name>A short wooden wall</name> 
  <version>1.0</version> 
  <sdf version="1.4">model.sdf</sdf>
  <description>
    A wooden wall of Length 440mm, Width 10mm and Height 180mm (as per the maze walls in CR5).
  </description>
  <author>
    <name>Tom Howard</name>
    <email>t.howard@sheffield.ac.uk</email>
  </author>
</model>