<?xml version="1.0" ?>
<model> 
  <name>Twelve Zone Floor</name> 
  <version>1.0</version> 
  <sdf version="1.4">model.sdf</sdf>
  <description>
    Floor with twelve outer zones printed on the floor.
  </description>
  <author>
    <name>Tom Howard</name>
    <email>t.howard@sheffield.ac.uk</email>
  </author>
</model>