<model> 
  <name>TUoS ROS Model for Line Following (Setup)</name> 
  <version>1.0</version> 
  <sdf version="1.4">model.sdf</sdf>
  <author>
    <name>Tom Howard</name>
    <email>t.howard@sheffield.ac.uk</email>
  </author>
  <description>
    A ground plane containing a track for setting up for the line following exercise in Part 6 of the ROS 2 Course.
  </description>
</model>