<?xml version="1.0" ?>
<model> 
  <name>Figure of Eight Floor</name> 
  <version>1.0</version> 
  <sdf version="1.4">model.sdf</sdf>
  <description>
    Floor map for the Figure of Eight Task.
  </description>
  <author>
    <name>Tom Howard</name>
    <email>t.howard@sheffield.ac.uk</email>
  </author>
</model>